<!DOCTYPE html>
<html>
<head>
    <title>Liste des classrooms</title>
</head>
<body>
    <h1>Liste des classrooms</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                 <th>Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for classroom in response %}
                <tr>
                    <td>{{ classroom.id }}</td>
                    <td>{{ classroom.name }}</td>
                  

                    <td>
        <a href="{{ path('edit', {id: classroom.id}) }}">Modifier</a>
        <a href="{{ path('delete', {id: classroom.id}) }}">Supprimer</a>
    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<a href="{{ path('Add') }}" class="btn btn-primary">Ajouter une classe</a>

</html>