<h1>List Authors</h1>
{% set x=0 %}
{% if tabAuthors is empty  %}
    <h1>tableau vide</h1>
 {% else %}
<table border="1" >
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Books</td>
        <td>Picture</td>
        <td>Action</td>
    </tr>

    {% for author in tabAuthors %}
        <tr>
            <td>{{author.id}}</td>
            <td>{{author.username|upper}}</td>
            <td>{{author.email}}</td>
            <td> {{author.nb_books}}</td>
            <td><img src="{{ asset(author.picture) }}" alt="author" height="100px" width="100px"></td>
            <td><a href="{{ path('details_author',{'id': author.id}) }}">details</a></td>
        </tr>
        {% set x=x+author.nb_books %}
    {% endfor %}
    {% endif %}
</table>
NBr Authors :{{ tabAuthors|length }} <br>
NBr Authors :{{ x }} <br>
<img src="{{ asset('image/a11.png') }}" alt="symfonyimage" height="170px" width="170px">